.theme-light {
    background-color: #fff;
}

.theme-dark {
    background-color: #121212;

    h5 {
        color: #fff;
    }

    footer {
        background-color: #0c3068;

        p {
            color: #fff !important;
        }
    }
}