$bg_black: #000000;
$bg_dark_80: #060709;
$bg_dark_20: #101216;
$bg_grey: #20232B;
$bg_light_20: #4D4F55;
$bg_light_50: #8F9195;
$bg_light_80: #D2D3D5;
$bg_white: #FFFFFF;
$bg_white_theme: #F6F8FA;
$primary_dark_purple: #11092C;
$primary_duck_or_goose: #FFE057;
$secondary_orange_aerospace: #FF571F;
$secondary_orange_aerospace_light: #FF8A63;
$secondary_violet: #731DD8;
$secondary_violet_light: #B98EEC;
$secondary_sea_green: #1FFFD6;
$secondary_red_light: #FF6363;
$secondary_baby_blue: #66D2EC;
$opacity_white_theme_10: #F6F8FA;



