* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  transition-duration: 50ms !important;
  font-family: "Inter", sans-serif;

  &:focus,
  &:focus-within,
  &:focus-visible {
    outline: none !important;
  }
}

body {
  -webkit-font-smoothing: antialiased !important;
  background-color: #fff;
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 0.7em;
  height: 0.7em;
}

::-webkit-scrollbar-thumb {
  background: rgb(228, 228, 228);
  border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: #f4f6f8;
  padding: 0 2px;
}

.container-fluid {
  max-width: 1800px !important;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  outline: none !important;
  box-shadow: none !important;
}

input:active,
textarea:active,
select:active {
  box-shadow: none !important;
  outline: none !important;
}

button {
  all: unset;
}

p {
  margin-bottom: 0 !important;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

.change_theme_text {
  color: #fff;
}

.MuiFormLabel-asterisk {
  color: red;
}

.MuiCard-root {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

.MuiDataGrid-columnHeader:last-child {
  .MuiDataGrid-columnSeparator.MuiDataGrid-columnSeparator--sideRight {
    display: none;
  }
}
